[Unit]
Description=Interactieve configuratie bij eerste boot
After=multi-user.target
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/pi/firstboot.sh
StandardInput=tty
StandardOutput=journal+console
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
